/* ===================================================================
 * # CTA
 *
 * ------------------------------------------------------------------- */
 .s-cta {
    padding-top: 13.5rem;
    padding-bottom: 13.6rem;
    background-color: #000000;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    font-size: 2.4rem;
    line-height: 1.833;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  
  .s-cta a {
    color: #ffffff;
  }
  
  .s-cta a:hover,
  .s-cta a:focus,
  .s-cta a:active {
    color: #cf1717;
  }
  
  .s-cta .section-desc {
    margin-top: 0;
  }
  
  .cta-content {
    max-width: 800px;
  }
  
  .cta-content .btn {
    max-width: 600px;
    background-color: #cf1717;
    border: 0.2rem solid #cf1717;
  }
  
  .cta-content .btn:hover,
  .cta-content .btn:focus {
    background-color: #ffffff;
    border: 0.2rem solid #ffffff;
    color: #000000;
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * cta
   * ------------------------------------------------------------------- */
  @media screen and (max-width:800px) {
    .s-cta {
      font-size: 2.2rem;
    }
  
    .cta-content {
      max-width: 600px;
    }
  
  }
  
  @media screen and (max-width:600px) {
    .s-cta {
      font-size: 2rem;
    }
  
  }
  
  @media screen and (max-width:600px) {
    .s-cta {
      font-size: 1.8rem;
    }
  
  }
  
  
  
  /* ===================================================================
   * # works
   *
   * ------------------------------------------------------------------- */
  .s-works {
    padding-top: 19.2rem;
    padding-bottom: 16rem;
    background-color: #ffffff;
  }
  
  .masonry-wrap {
    width: 89%;
    max-width: 1400px;
    margin-top: 11.2rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .masonry .grid-sizer,
  .masonry__brick {
    width: 50%;
  }
  
  .masonry__brick {
    float: left;
    padding: 0 30px;
    margin-bottom: 60px;
  }
  
  .item-folio {
    text-align: center;
    padding: 60px;
    background-color: #EFEFEF;
    transition: all 0.5s ease-in-out;
  }
  
  /* item-folio thumb
   * -------------------------------------- */
  .item-folio__thumb {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  .item-folio__thumb .thumb-link {
    display: block;
    position: relative;
  }
  
  .item-folio__thumb .thumb-link::before,
  .item-folio__thumb .thumb-link::after,
  .item-folio__thumb .thumb-link .item-folio__project-link {
    transition: all 0.5s ease-in-out;
  }
  
  .item-folio__thumb .thumb-link::before {
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  
  
  .item-folio__thumb img {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
  }
  
  .item-folio__thumb .item-folio__project-link {
    display: block;
    width: 100%;
    height: 100%;
    background-color:#0000007c;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    background-image: url(../images/icons/IG.PNG);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  /* item-folio thumb on hover 
   * ----------------------------------------------- */
  .item-folio__thumb:hover a::before,
  .item-folio__thumb:hover a::after {
    opacity: 1;
    visibility: visible;
  }
  
  .item-folio__thumb:hover .item-folio__project-link {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  /* item-folio text
   * ------------------------------------------------ */
  .item-folio__text {
    margin-top: 8.92%;
  }
  
  .item-folio__text,
  .item-folio__title,
  .item-folio__cat {
    display: inline-block;
  }
  
  .item-folio__title,
  .item-folio__cat {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
  }
  
  .item-folio__title {
    font-weight: 500;
    color: #000000;
  }
  
  .item-folio__cat {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .item-folio__cat::before {
    content: "-";
    margin: 0 .4rem;
  }
  
  .item-folio__caption {
    display: none;
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * works
   * ------------------------------------------------------------------- */
  @media screen and (max-width:1200px) {
    .masonry__brick {
      padding: 0 24px;
      margin-bottom: 48px;
    }
  
    .item-folio {
      padding: 48px;
    }
  
    .item-folio__thumb .thumb-link::after {
      width: 3rem;
      height: 3rem;
    }
  
    .item-folio__thumb .item-folio__project-link {
      width: 5.6rem;
      height: 5.6rem;
    }
  
    .item-folio__title,
    .item-folio__cat {
      font-size: 1.5rem;
    }
  
  }
  
  @media screen and (max-width:1024px) {
    .masonry__brick {
      padding: 0 20px;
      margin-bottom: 40px;
    }
  
    .item-folio {
      padding: 40px;
    }
  
  }
  
  @media screen and (max-width:900px) {
    .masonry__brick {
      padding: 0 16px;
      margin-bottom: 32px;
    }
  
    .item-folio {
      padding: 32px;
    }
  
  }
  
  @media screen and (max-width:800px) {
    .s-works {
      padding-top: 16rem;
    }
  
    .masonry-wrap {
      margin-top: 7.2rem;
    }
  
    .masonry .grid-sizer,
    .masonry__brick {
      width: 100%;
    }
  
    .masonry__brick {
      float: none;
      margin-bottom: 60px;
    }
  
    .item-folio {
      padding: 8.92% 8.92% 8.92%;
    }
  
    .item-folio__thumb .thumb-link::after {
      width: 3.6rem;
      height: 3.6rem;
    }
  
    .item-folio__thumb .item-folio__project-link {
      width: 6.4rem;
      height: 6.4rem;
    }
  
    .item-folio__title,
    .item-folio__cat {
      font-size: 1.7rem;
    }
  
  }
  
  @media screen and (max-width:600px) {
    .masonry-wrap {
      width: auto;
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .masonry__brick {
      padding: 0 10px;
      margin-bottom: 44px;
    }
  
    .item-folio__thumb .thumb-link::after {
      width: 3rem;
      height: 3rem;
    }
  
    .item-folio__thumb .item-folio__project-link {
      width: 5.6rem;
      height: 5.6rem;
    }
  
    .item-folio__title,
    .item-folio__cat {
      font-size: 1.5rem;
    }
  
  }
  
  @media screen and (max-width:500px) {
    .masonry__brick {
      margin-bottom: 3.6rem;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .masonry__brick {
      padding: 0;
      margin-bottom: 3.2rem;
    }
  
  }